a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #B721FF;
    text-decoration: none;
}

h6  {
    font-family: "niveau-grotesk",sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 1rem;
}
