{% extends "base.html" %}
{% load static %}

{% block resources %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
$(function(){
    $("#id_date_visited").datepicker();
});
</script>
{% endblock resources %}

{% block content %}
<h1 class="text-center">Add Log</h1>
<hr>
<div class="container mb-5">
    <form class="" action="/add_log/{{current_client.id}}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 input-label">
                {{form.visit_description.errors}}
                <label for="{{form.visit_description.id_for_label}}">Visit Description</label>
                <div class="input-group">
                    {{form.visit_description}}
                </div>
                <br>
            </div>
            <div class="col-md-6 input-label">
                {{form.next_steps.errors}}
                <label for="{{form.next_steps.id_for_label}}">Next Steps</label>
                <div class="input-group">
                    {{form.next_steps}}
                </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-6 input-label d-flex align-items-center">
                {{form.date_visited.errors}}
                <label for="{{form.date_visited.id_for_label}}">Date Visited</label>
            </div>
            <div class="col-6 input-label d-flex align-items-center">
                <div class="input-group" id="datepicker">
                    {{form.date_visited}}
                </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-6 input-label d-flex align-items-center">
                {{form.time_of_visit.errors}}
                <label for="{{form.time_of_visit.id_for_label}}">Time Of Visit</label>
            </div>
            <div class="col-6 input-label d-flex align-items-center">
                <div class="input-group">
                    {{form.time_of_visit}}
                </div>
                <br>
            </div>
        </div>
        <br>
        <div class="row d-flex justify-content-center">
            <input class="btn btn-success" value="Save" type="submit"></input>
        </div>

    </form>
</div>
{% endblock content %}
