{% extends "base.html" %}
{% load static %}
{% block alerts %}
    {% if current_user.is_previously_logged_in == False %}
    <div class="alert alert-warning alert-dismissible fade show m-0" role="alert" style="position:absolute; z-index:1000;">
        <strong>Welcome Cancho!</strong> We see it is your first time logging in. Please change your password to continue.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
{% endblock alerts %}

{% block title %}
Edit Profile
{% endblock title %}

{% block content %}


<h1 class="text-center">Edit Intern</h1>
<hr>
<div class="container mb-5">
    <form class="" action="/admin_edit_profile/{{selected_intern.id}}" method="post">
        {% csrf_token %}
        <p class="card-text">
            <div class="row">
                <div class="col-12 col-md-6 input-label">
                    {{form.first_name.errors}}
                    <label for="{{form.first_name.id_for_label}}">First Name</label>
                    <div class="input-group">
                        {{form.first_name}}
                    </div>
                    <br>
                </div>
                <div class="col-12 col-md-6 input-label">
                    {{form.last_name.errors}}
                    <label for="{{form.last_name.id_for_label}}">Last Name</label>
                    <div class="input-group">
                        {{form.last_name}}
                    </div>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 input-label">
                    {{form.email.errors}}
                    <label for="{{form.email.id_for_label}}">Email</label>
                    <div class="input-group">
                        {{form.email}}
                    </div>
                    <br>
                </div>
                <div class="col-12 col-md-6 input-label">
                    {{form.semester.errors}}
                    <label for="{{form.semester.id_for_label}}">Semester</label>
                    <div class="input-group">
                        {{form.semester}}
                    </div>
                    <br>
                </div>
                <div class="col-12 col-md-6 input-label">
                    {{form.year.errors}}
                    <label for="{{form.year.id_for_label}}">Year</label>
                    <div class="input-group">
                        {{form.year}}
                    </div>
                    <br>
                </div>
                <div class="col-12 col-md-6 input-label">
                    {{form.new_password.errors}}
                    <label for="{{form.new_password.id_for_label}}">New Password</label>
                    <div class="input-group">
                        {{form.new_password}}
                    </div>
                    <br>
                </div>
                <div class="col-12 col-md-6 input-label">
                    {{form.confirm_new_password.errors}}
                    <label for="{{form.confirm_new_password.id_for_label}}">Confirm New Password</label>
                    <div class="input-group">
                        {{form.confirm_new_password}}
                    </div>
                    <br>
                </div>

            </div>
        </p>
        <input class="btn btn-success" value="Save" type="submit"></input>
        {% if selected_intern.is_active == True %}
        <a href="/deactivate_intern/{{selected_intern.id}}" class="btn btn-danger">Deactivate</a>
        {% elif selected_intern.is_active == False %}
        <a href="/deactivate_intern/{{selected_intern.id}}" class="btn btn-danger">Reactivate</a>
        {% endif %}
    </form>
</div>


{% endblock content %}
