{% extends "base.html" %}
{% load static %}

{% block title %}
Search
{% endblock title %}

{% block content %}

<div class="col-lg-4 col-lg-offset-4 mb-4">
<form action="/search/">
    <div class="input-group">
        <input  id="search_box" type="search" class="form-control mr-sm-2" name="client_name"  placeholder="Search Client" >
    </div>
</form>
</div>

{% for client in assigned_clients_filtered %}
<div class="card-flip mb-3 p-2" >
    <div class="flip">
        <div class="front card">
            <div class="card-body pb-0">
                <div class="container-fluid">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-6">
                            <img src="{% static "adult-beach-beard.jpg" %}" class="img-responsive rounded-image" alt="">
                        </div>
                    </div>
                    <div class="row d-flex align-items-center justify-content-center p-4">
                        <div class="container text-center p-0">
                            <h3>
                                {{ client.first_name }} {{ client.last_name}}
                            </h3>
                            <h4>
                                {{ client.business_name }}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid pb-4">
                <ul class="nav justify-content-around">
                    <li class="nav-item">
                        <a class="nav-link active" href="/client_profile/{{client.id}}"> <i class="fa fa-list-ul fa-lg client-nav-link"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> <i class="fa fa-map-marker-alt fa-lg client-nav-link"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add_bookmark/{{client.id}}"> <i class="fa fa-bookmark fa-lg client-nav-link bookmark-enabled" style="line-height: 1em;"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add_log/{{client.id}}"> <i class="fa fa-plus fa-lg client-nav-link"></i> </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="back card mb-3">
            <div class="card-body pb-0">
                <div class="container-fluid">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="container text-left">
                            <h5>Contact Info</h5>
                            <p>
                                <strong>Phone Number:</strong> <a href="tel:{{ client.phone_number}}">{{ client.phone_number}}</a>
                                <br>
                                <strong>Email Address:</strong> <a href="mailto:{{ client.email}}">{{ client.email}}</a>
                                <br>
                                <strong>Barangay:</strong> {{ client.barangay }}
                                <br>
                                <strong>Tagalog Needed:</strong>
                                {% if client.tagalog_needed %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                                <br>
                                <strong>Transportation Method:</strong> {{ client.transportation_method}}

                            </p>
                            <!-- <h5>Business Info</h5>
                            <p>
                                <strong>Business Type:</strong> {{ client.business_type}}
                                <br>
                                <strong>Transportation Method:</strong> {{ client.transportation_method}}
                            </p> -->
                            <h5>Bio</h5>
                            <p>
                                {{ client.bio }}
                            </p>

                            <a href="/edit_client/{{ client.id }}" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% for client in unassigned_clients_filtered %}
<div class="card-flip mb-3 p-2" >
    <div class="flip">
        <div class="front card ">
            <div class="card-body pb-0">
                <div class="container-fluid">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-6">
                            <img src="{% static "adult-beach-beard.jpg" %}" class="img-responsive rounded-image" alt="">
                        </div>
                    </div>
                    <div class="row d-flex align-items-center justify-content-center p-4">
                        <div class="container text-center p-0">
                            <h3>
                                {{ client.first_name }} {{ client.last_name}}
                            </h3>
                            <h4>
                                {{ client.business_name }}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid pb-4">
                <ul class="nav justify-content-around">
                    <li class="nav-item">
                        <a class="nav-link active" href="/client_profile/{{client.id}}"> <i class="fa fa-list-ul fa-lg client-nav-link"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> <i class="fa fa-map-marker-alt fa-lg client-nav-link"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add_bookmark/{{client.id}}"> <i class="fa fa-bookmark fa-lg client-nav-link" style="line-height: 1em;"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add_log/{{client.id}}"> <i class="fa fa-plus fa-lg client-nav-link"></i> </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="back card mb-3">
            <div class="card-body pb-0">
                <div class="container-fluid">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="container text-left">
                            <h5>Contact Info</h5>
                            <p>
                                <strong>Phone Number:</strong> <a href="tel:{{ client.phone_number}}">{{ client.phone_number}}</a>
                                <br>
                                <strong>Email Address:</strong> <a href="mailto:{{ client.email}}">{{ client.email}}</a>
                                <br>
                                <strong>Barangay:</strong> {{ client.barangay }}
                                <br>
                                <strong>Tagalog Needed:</strong>
                                {% if client.tagalog_needed %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                                <br>
                                <strong>Transportation Method:</strong> {{ client.transportation_method}}

                            </p>
                            <!-- <h5>Business Info</h5>
                            <p>
                                <strong>Business Type:</strong> {{ client.business_type}}
                                <br>
                                <strong>Transportation Method:</strong> {{ client.transportation_method}}
                            </p> -->
                            <h5>Bio</h5>
                            <p>
                                {{ client.bio }}
                            </p>

                            <a href="/edit_client/{{ client.id }}" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}
