{% extends "base.html" %}
{% load static %}

{% block title %}
Search
{% endblock title %}

{% block content %}
<div class="where-am-i">id-search</div>
<div class="col-12 col-xs-12 offset-xs-0 col-sm-8 offset-sm-2 col-md-12 offset-md-0 col-lg-12 offset-lg-0 col-mb-4">
<form action="/search/">
    <div class="input-group">
        <input  id="search_box" type="search" class="form-control mr-sm-2" name="client_name"  placeholder="Search Client" >
    </div>
</form>
</div>

{% if assigned_clients_filtered or unassigned_clients_filtered %}
<div class="container">
  <div class="row">
    <div class="col-12 col-xs-12 offset-xs-0 col-sm-8 offset-sm-2 col-md-12 offset-md-0 col-lg-12 offset-lg-0">
      <h4>Search Results...</h4>
      <hr>
    </div>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="row">
    {% for client in assigned_clients_filtered %}
    <div class="card-flip col-12 col-xs-12 offset-xs-0 col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-4 offset-lg-0 mb-4 p-2" >
        <div class="flip">
            <div class="front card">
                <div class="card-body pb-0">
                    <div class="container-fluid">
                        <div class="row d-flex align-items-center justify-content-center">
                          <div class="col-6 image-box">
                            <img src="{{ client.image.url }}" class="img-responsive rounded-image"%}">
                          </div>
                        </div>
                        <div class="row d-flex align-items-center justify-content-center p-4">
                            <div class="container text-center p-0">
                                <h3>
                                    {{ client.first_name }} {{ client.last_name}}
                                </h3>
                                <h4>
                                    {{ client.business_name }}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid pb-4">
                    <ul class="nav justify-content-around">
                        <li class="nav-item">
                            <a class="nav-link active" href="/client_profile/{{client.id}}"> <i class="fa fa-list-ul fa-lg client-nav-link"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.google.com/maps/search/?api=1&query={{client.lat}}, {{client.lon}}"> <i class="fa fa-map-marker-alt fa-lg client-nav-link"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/add_bookmark/{{client.id}}"> <i class="fa fa-bookmark fa-lg client-nav-link bookmark-enabled" style="line-height: 1em;"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/add_log/{{client.id}}"> <i class="fa fa-plus fa-lg client-nav-link"></i> </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="back card mb-3">
                <div class="card-body pb-0">
                    <div class="container-fluid">
                        <div class="row d-flex align-items-center justify-content-center">
                            <div class="container text-left">
                                <h5>Contact Info</h5>
                                <p>
                                    <strong>Loan Organization:</strong> {{ client.organization}}
                                    <br>
                                    <strong>Phone Number:</strong> <a href="tel:{{ client.phone_number}}">{{ client.phone_number}}</a>
                                    <br>
                                    <strong>Email Address:</strong> <a href="mailto:{{ client.email}}">{{ client.email}}</a>
                                    <br>
                                    <strong>Language:</strong> {{ client.language }}
                                    <br>
                                    <strong>Literacy:</strong> {{ client.literacy }}
                                    <br>
                                    <strong>Transportation Method:</strong> {{ client.transportation_method}}
                                </p>
                                <div class="container d-flex justify-content-center">
                                    <a href="/edit_client/{{ client.id }}" class="btn btn-primary">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% for client in unassigned_clients_filtered %}
    <div class="card-flip col-12 col-xs-12 offset-xs-0 col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-4 offset-lg-0 mb-4 p-2" >
        <div class="flip">
            <div class="front card ">
                <div class="card-body pb-0">
                    <div class="container-fluid">
                        <div class="row d-flex align-items-center justify-content-center">
                          <div class="col-6 image-box">
                            <img src="{{ client.image.url }}" class="img-responsive rounded-image"%}">
                          </div>
                        </div>
                        <div class="row d-flex align-items-center justify-content-center p-4">
                            <div class="container text-center p-0">
                                <h3>
                                    {{ client.first_name }} {{ client.last_name}}
                                </h3>
                                <h4>
                                    {{ client.business_name }}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid pb-4">
                    <ul class="nav justify-content-around">
                        <li class="nav-item">
                            <a class="nav-link active" href="/client_profile/{{client.id}}"> <i class="fa fa-list-ul fa-lg client-nav-link"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.google.com/maps/search/?api=1&query={{client.lat}}, {{client.lon}}"> <i class="fa fa-map-marker-alt fa-lg client-nav-link"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/add_bookmark/{{client.id}}"> <i class="fa fa-bookmark fa-lg client-nav-link" style="line-height: 1em;"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/add_log/{{client.id}}"> <i class="fa fa-plus fa-lg client-nav-link"></i> </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="back card mb-3">
                <div class="card-body pb-0">
                    <div class="container-fluid">
                        <div class="row d-flex align-items-center justify-content-center">
                            <div class="container text-left">
                                <h5>Contact Info</h5>
                                <p>
                                    <strong>Loan Organization:</strong> {{ client.organization}}
                                    <br>
                                    <strong>Phone Number:</strong> <a href="tel:{{ client.phone_number}}">{{ client.phone_number}}</a>
                                    <br>
                                    <strong>Email Address:</strong> <a href="mailto:{{ client.email}}">{{ client.email}}</a>
                                    <br>
                                    <strong>Language:</strong> {{ client.language }}
                                    <br>
                                    <strong>Literacy:</strong> {{ client.literacy }}
                                    <br>
                                    <strong>Transportation Method:</strong> {{ client.transportation_method}}
                                </p>
                                <div class="container d-flex justify-content-center">
                                    <a href="/edit_client/{{ client.id }}" class="btn btn-primary">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
  </div>
</div>

{% if not assigned_clients_filtered and not unassigned_clients_filtered %}
<div class="container">
  <div class="row">
    <div class="col-12 col-xs-12 offset-xs-0 col-sm-8 offset-sm-2 col-md-12 offset-md-0 col-lg-12 offset-lg-0">
      <h5>No search results</h5>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-xs-12 offset-xs-0 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
          <div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe src="https://giphy.com/embed/12zV7u6Bh0vHpu" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
    </div>
  </div>
</div>
{% endif %}

{% endblock content %}
