{% extends "base.html" %}
{% load static %}

{% block title %}
Search Interns
{% endblock title %}

{% block content %}
<div class="where-am-i">id-search</div>

<div class="col-lg-4 col-lg-offset-4 mb-4">
<form action="/search_interns/">
    <div class="input-group">
        <input  id="search_box" type="search" class="form-control mr-sm-2" name="intern_name"  placeholder="Search Intern" >
    </div>
</form>
</div>

<h4 class="text-left">Search results...</h4>
<hr>
<div class="container mb-5">
    {% for intern in filtered_interns %}
    <div class="card mb-4 p-2">
        <div class="card-body pl-0 pr-0">
            <div class="container-fluid">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-12">
                        <a href="/admin_edit_profile/{{intern.id}}">
                            <h4> <strong>{{ intern.first_name }} {{ intern.last_name}}</strong> | <span style="font-size:1rem;">{{ intern.semester }} {{ intern.year }}</span></h4>
                        </a>
                    </div>
                    <div class="col-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Client</th>
                                    <th scope="col">Business</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pair in assigned_clients %}
                                    {% if pair.intern.id == intern.id %}
                                        <tr>
                                            <th scope="row"> <a href="/client_profile/{{pair.client.id}}">{{pair.client.first_name}} {{pair.client.last_name}}</a> </th>
                                            <td>{{pair.client.business_name}}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <h5>No search results</h5>
    <!-- <iframe src="https://giphy.com/embed/BZkn6X0SivQmvzNxdL" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe> -->
    <div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe src="https://giphy.com/embed/BZkn6X0SivQmvzNxdL" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
    <!-- <div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe src="https://giphy.com/embed/ApCJEN78bm8vu" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div> -->
    {% endfor %}
</div>

{% endblock content %}
