#login-form {
    opacity: 0;
    animation-name: appear;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 8s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;

  }
}

.form-control, .form-control:focus {
    background-color: rgba(0, 0, 0, 0);
    color:white;
    outline:0 !important;
    box-shadow: none;
    border-color: white;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, .3);
}

.btn {
    background-color: rgba(0, 0, 0, 0);
    color:white;
    outline:0 !important;
    box-shadow: none;
    border-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #509CFE;
    outline:0 !important;
    box-shadow: none;
    border-color: white;
}
