/* Site colors
#6B7A8F - blue
#F7882F - orange
#F7C331 - yellow
#DCC7AA - tan
*/

.full-width {
    width: 100%;
}

.nav-button {
    margin-bottom: 10px;
}

#left-side-nav {
    left: auto;
    margin-top: 15px;
}

.rounded-image {
    border-radius: 50%;
    width: 100%;
}

#login-background {
    background-color: #6B7A8F;
    height: 100vh;
    width: 100vw;
}
